/* This Css files include the Css for main of index.html page.*/
body{
    background-image: url(/img/BTS-NYE-2018-live-billboard-15@2x.png);
    background-size: 100%;
    
}

/* Header CSS */
.navigation-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding : 0.1em 1em;
  margin: 0em;
  
}

/* Css for the navigation bar */
.navigation-box{
  display: flex;
}
.nav-section{
    width:fit-content;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     0%;
    margin:auto  2em;
    border-radius: 0.5em;
    display: grid;
    grid-template-columns: 25fr 25fr 25fr 25fr;
    grid-gap: 1.5em;
}
.nav-element {
    width: 100%;
    padding: 0.25em 0.5em;
    color: white;
    font-size: 1.2em;
    font-family: 'Nunito', sans-serif;
}
.nav-option{
    border-radius: 0.5em; 
    height: 3em;
    background-color:#42002E ;
    border: 0ch;
    opacity: 90%;
    font-family: 'Kaushan Script', cursive;
    color: white;
}
.logo{
  width: 10em;
  margin-left: 4em;
  margin-bottom: 1.3em;
}
/* banner */
.top-banner{
    height: 84.5vh;
    background-image:url(../img/Group\ 4@2x.png);
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    align-items:center;
    background-position: center ;
}
.album-title{
  width: 60%;
  margin-top: 17em;
 margin-left: 18em;
}
